<h1>******** Welcome to the longest word-game ********</h1>

<h3>Here is your result:</h3>
<h4>Your word: <%= @attempt %></h4>
<h4>Shot: <%= @shot %></h4>
<h4>Try: <%= @try %></h4>
<h4>Time taken to answer: <%= @result[:time] %></h4>
<h4>Translation: <%= @result[:translation] %></h4>
<h4>Your score: <%= @result[:score] %></h4>
<h4> <%= @result[:message] %></h4>

<h1>************************************************</h1>


